fastapi==0.109.0
uvicorn==0.27.0
sqlalchemy==2.0.25
playwright==1.41.0
shapely==2.0.2
pandas==2.2.0
python-dotenv==1.0.1
fake-useragent==1.4.0
pydantic==2.6.0
pydantic-settings==2.1.0
greenlet==3.0.3
aiofiles==23.2.1
psutil
selenium-wire
phonenumbers
undetected-chromedriver
webdriver-manager
requests
